:root {
    --primary: #283593;
    --secondary: #F6AC00;
    --black: #0A0A0B;
    --error: #AE000A;
    --info: #3f51b5;
    --success: #4bb543;
    --warning: #E8A702;
    --white: #FFFFFF;
    --disabled: #2834931e;
    --text: #2f495e;

    --primary-hover: #2834930c;
    --info-hover: #3f51b50c;
    --success-hover: #4bb5430c;
    --secondary-hover: #C58A00;
    --black-hover: #3B3B3C;
    --error-hover: #AE000A;
    
    
    --primary-text: #FFFFFF;
    --secondary-text: #0A0A0B;
    --black-text: #0a0808;
    --disabled-text: #0a080869;
    --error-text: #FFFFFF;
    --info-text: #FFFFFF;
    --success-text: #FFFFFF;


    --error-alert: #FBF2F3;
    --info-alert: #F3F6FD;
    --success-alert: #F2F9F5;
    --primary-alert: #E8F0FB;
    --secondary-alert: #fff0ce;
    --warning-alert: #FFF8EA;
    --black-alert: #E6E6E7;

    --blue-100: #1556B0;

    --black-90: #222223;
    --black-70: #535354;
    
    --blue-60: #5F97E7;
    --orange-60: #F9C54C;
    --black-60: #6C6C6D;

    --black-50: #848485;

    --blue-40: #f4f7f9;
    --orange-40: #FBD680;
    --black-40: #9D9D9D;

    --black-30: #B5B5B6;

    --blue-20: #f4f7f9;
    --orange-20: #FCE6B2;
    --black-20: #CECECE;

    --blue-10: #E8F0FB;
    --orange-10: #FFF5E9;
    --black-10: #f4f7f9;

    --page-background-1: #F9FBFE; 
    --page-background-2: #F9F9F9; 
    --page-background-3: #E5E5E5; 

    --loading-bg: #0A0A0B24;
    --text:  black;
}
body{
    font-weight: 400;
    letter-spacing: 0.002em;
    background: white;
    padding: 0px;
    margin: 0px;
}
*{
    font-family: 'Roboto', sans-serif !important;
    color: var(--text)
}
h1,h2,h3,h4,h5,p{
    margin: 0px;
    padding: 0px;
}

h1{
    letter-spacing: 0.002em;
}

h2{
    letter-spacing: 0.002em;
}
h3{
    letter-spacing: 0.002em;
}
h4{
    letter-spacing: 0.002em;
}
h5{
    letter-spacing: 0.002em;
}
label{
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.002em;
}
a{
    text-decoration: none !important;
}
button{
    text-align: center;
    font-weight: 500;
    font-size: .875rem;
    line-height: 18px;
    letter-spacing: 0.002em;
    padding: 0px 18px;
    white-space: nowrap;
    min-width: 100px;
    cursor: pointer;
}
.mx-input{
    height: auto !important;
}
input,textarea, .mx-input, .r-input{
    border: 1px solid #CECECE;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px !important;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 16px;
    outline: none;
    &:focus{
        border: 1px solid var(--info);
    }
    &:active{
        border: 1px solid var(--info);
    }
    &:disabled{
        border: 1px solid var(--disabled);
        background: var(--disabled);
        color: var(--disabled-text);
        cursor: not-allowed;
    }
}
ol{
    padding-left: 23px;
}
textarea{
    resize: none;
    height: 120px;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
